@using EventTicket.App_Code;
@using System.Data;
@{
    Base b = new Base();
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/Shop.cshtml";
    int Type = Convert.ToInt32(Session["Type"]);
    int ShopID = Convert.ToInt32(Session["CurrentUserID"]);
    DataTable dtHteNumber = new DataTable();
    DataTable dtLetter = b.getAllByQuery("select * from Letter");
}

<!--Front-End Form-->
<div class="contentHeadBox">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-12">
            <center><font color="#8B7D6B" class="zg">@Type မ်ိဳး  @Type​ ေစာင္​​</font></center> <br /><br />
            <table align="center">
                <tr>
                    <td>
                        <select id="letter" class="form-control select2" style="width: 100%;" required autofocus="autofocus" class="form-control" style="width: 80px">
                            @{
                                foreach (DataRow rows in dtLetter.Rows)
                                {
                                    <option value="@rows["Name"]">@rows["Name"]</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <span class="zg"><input type="text" id="firstHteNumber" placeholder="ထီနံပါတ္​ထည္​့ပါ" maxlength="6" class="form-control" /></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <center><b><span id="error" style="color:palevioletred" class="zg"></span></b></center>
    <br />
    <center> <span class="zg"><input type="button" class="btn btn-primary" value="ၾကည္​့" onclick="SelectedDeselect()" /></span></center>
</div>

<!--Place to display Selectded Hte Number as Table-->
<p id="SelectedHteNumber"></p>
<br />

<!--Backend Form-->
<div>
    @using (Html.BeginForm("ProcessDifferentHteRecordForm", "Shop"))
    {
        <div class="contentHeadBox">
            <input type="hidden" id="HSelectedHteNumber" name="SelectedHteNumber" />
            <input type="hidden" name="Type" value="@Type" />
            <div class="zg">
                <div class="row">
                    <div class="col-md-12">
                        <font color="#8B7D6B" class="zg"><center>ထီ​ေပါက္​စဥ္​မ်ား ႀကိဳသြင္​းရန္​ သြင္​းမည္​ကို နိွပ္​ပါ။</center></font><br />
                        <br />
                        <center><span class="zg"><input type="submit" value="သြင္​းမည္" class="btn btn-primary" /></span></center>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<!--Get Letter. That will be putting back to JS Array-->
<p id="letterid" style="opacity:0;">
    @{
        foreach (DataRow row in dtLetter.Rows)
        {
            string Name = row["Name"].ToString();
            Name = Name + ",";
            @Name
        }
        foreach (DataRow row in dtLetter.Rows)
        {
            string Name = row["Name"].ToString();
            Name = Name + ",";
            @Name
        }
    }
</p>

<script>
    var Letter = new Array();
    var SelectedHteNumber = new Array();
    var Type;

    //InnerText to Array
    $(document).ready(function () {
        var letter = document.getElementById("letterid").innerText;
        Letter = letter.split(",");
        Letter.splice((Letter.length) - 1, 1);
    })

    //Select and Deselecting Hte Number
    function SelectedDeselect() {
        var FirstHteNumber = document.getElementById("firstHteNumber").value;

        var e = document.getElementById("letter");
        var SelectedIndex = e.selectedIndex
        var SelectedLetter = e.options[e.selectedIndex].value;

        if (isNaN(FirstHteNumber)) {
            document.getElementById("error").innerText = "ထီနံပါတ္​ကို ဂဏန္​းထည္​့ပါ";
        }
        else {
            if (FirstHteNumber.length != 6) {
                document.getElementById("error").innerText = "ဂဏန္​း ​ေျခာက္​လံုးမျပည္​့ပါ";
            }
            else {
                document.getElementById("error").innerText = "";
                SelectedIndex = parseInt(SelectedIndex);

                var HteNo = Letter[SelectedIndex] + FirstHteNumber;
                var innerIndex = SelectedHteNumber.indexOf(HteNo);
                if (innerIndex > -1) {
                }
                else {
                    SelectedHteNumber.push(HteNo);
                }
                ShowSelectedHteNumber();
            }
            }
        }


    function Deselect(HteNumber) {
        var innerIndex = SelectedHteNumber.indexOf(HteNumber);
        if (innerIndex > -1) {
            SelectedHteNumber.splice(innerIndex, 1);
            ShowSelectedHteNumber();
        }
    }

    function ShowSelectedHteNumber() {
        if (SelectedHteNumber.length > 0) {
            var table = "<div class='contentBodyBox'><div class='box-body'><table class='table table-bordered' style='background-color:#F6F9ED';><tr><th><span class='zg'>စဥ္​</span></th><th><span class='zg'>ထီနံပါတ္​</span></th><th></th></tr>";
            for (var i = 0 ; i < SelectedHteNumber.length ; i++) {
                var no = i + 1;
                table = table + "<tr><td>" + no + "</td><td><span class='zg'>" + SelectedHteNumber[i] + "</span></td><td><a href='#'><span onclick=\"Deselect(\'" + SelectedHteNumber[i] + "\')\">❎</span></a></td></tr>";
            }

            table = table + "</table></div></div>";

            document.getElementById("SelectedHteNumber").innerHTML = table;
            document.getElementById("HSelectedHteNumber").value = SelectedHteNumber.toString();
             }
        else {
            document.getElementById("SelectedHteNumber").innerHTML = "";
        }
    }
</script>

