@using EventTicket.App_Code;
@using System.Data;
@{
    Base b = new Base();
    DataTable dtSuccessHteNumber = new DataTable();
    dtSuccessHteNumber = b.getAllByQuery("select * from Success");
    ViewBag.Title = "ShowSuccessNumber";
    Layout = "~/Views/Shared/HteUser.cshtml";
}

<div class="contentBodyBox">
    @*<font color="#8B7D6B" class="zg">သင္​့ဆီတြင္​ရိွ​ေသာ (တစ္​ခုျခင္​း​) ပစၥည္​းမ်ား အားလံုးျဖစ္​သည္​။</font><br /><br />*@
<table id="displayTable" class="table table-bordered">
    <thead><tr><th><span class="zg">ထီနံပါတ္</span>​</th><th><span class="zg">ဆု</span></th></tr></thead>
    <tbody>
        @{
            foreach (DataRow rows in dtSuccessHteNumber.Rows)
            {
                <tr><td><span class="zg">@rows["No"]</span></td><td><span class="zg">@rows["Amount"]</span></td></tr>
            }
        }
    </tbody>
</table>
</div>

