@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "ShowAggreement";
    Layout = "~/Views/Shared/Shop.cshtml";
    int ShopID = Convert.ToInt32(Session["CurrentUserID"]);
    Base b = new Base();
}

<div class="contentBodyBox">
    <font color="#8B7D6B" class="zg">​ေအာက္​ပါအခ်က္​တို႔ကို သင္​ သ​ေဘာတူရပါမည္​</font><br /><br />
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg"> မိမိတို႔ လစဥ္​​ေၾကးမ်ားကို ၃ ရက္​​ေန႔မွ ၅ ရက္​​ေန႔အတြင္​း Wave Money Account - 09257706564 သို႔လႊဲ​ေပးပါရန္​။ </span><br />
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg">လူႀကီးမင္​း၏ အရင္​လ ​ေရာင္​းရအ​ေစာင္​​ေရ - @b.getCountByQuery("select * from HteNumber where ShopID= "+ShopID+" and MONTH(Date) < MONTH(GetDate())AND YEAR(Date) = YEAR(GetDate())")</span><br />    
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg"> လူႀကီးမင္​း၏ ထီဆိုင္​ ID နံပတ္​မွာ @ShopID  ျဖစ္​ပါသည္​။ </span><br />
</div>
